html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/*
960px grid system ~ Core CSS.
12 Columns ~ Margin left: 4px ~ Margin right: 4px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
  min-width: 960px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container
{
/*  margin-left: 76px;
  margin-right: 76px;
	margin-left: auto;
	margin-right: auto;
	min-width: 960px;*/

	margin-left: auto;
	margin-right: auto;
	width: 960px;

}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 4px;
  margin-right: 4px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container .grid_1 {width: 72px;}
.container .grid_2 {width: 152px;}
.container .grid_3 {width: 232px;}
.container .grid_4 {width: 312px;}
.container .grid_5 {width: 392px;}
.container .grid_6 {width: 472px;}
.container .grid_7 {width: 552px;}
.container .grid_8 {width: 632px;}
.container .grid_9 {width: 712px;}
.container .grid_10 {width: 792px;}
.container .grid_11 {width: 872px;}
.container .grid_12 {width: 952px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container .prefix_1 {padding-left: 80px;}
.container .prefix_2 {padding-left: 160px;}
.container .prefix_3 {padding-left: 240px;}
.container .prefix_4 {padding-left: 320px;}
.container .prefix_5 {padding-left: 400px;}
.container .prefix_6 {padding-left: 480px;}
.container .prefix_7 {padding-left: 560px;}
.container .prefix_8 {padding-left: 640px;}
.container .prefix_9 {padding-left: 720px;}
.container .prefix_10 {padding-left: 800px;}
.container .prefix_11 {padding-left: 880px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container .suffix_1 {padding-right: 80px;}
.container .suffix_2 {padding-right: 160px;}
.container .suffix_3 {padding-right: 240px;}
.container .suffix_4 {padding-right: 320px;}
.container .suffix_5 {padding-right: 400px;}
.container .suffix_6 {padding-right: 480px;}
.container .suffix_7 {padding-right: 560px;}
.container .suffix_8 {padding-right: 640px;}
.container .suffix_9 {padding-right: 720px;}
.container .suffix_10 {padding-right: 800px;}
.container .suffix_11 {padding-right: 880px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container .push_1 {left: 80px;}
.container .push_2 {left: 160px;}
.container .push_3 {left: 240px;}
.container .push_4 {left: 320px;}
.container .push_5 {left: 400px;}
.container .push_6 {left: 480px;}
.container .push_7 {left: 560px;}
.container .push_8 {left: 640px;}
.container .push_9 {left: 720px;}
.container .push_10 {left: 800px;}
.container .push_11 {left: 880px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container .pull_1 {left: -80px;}
.container .pull_2 {left: -160px;}
.container .pull_3 {left: -240px;}
.container .pull_4 {left: -320px;}
.container .pull_5 {left: -400px;}
.container .pull_6 {left: -480px;}
.container .pull_7 {left: -560px;}
.container .pull_8 {left: -640px;}
.container .pull_9 {left: -720px;}
.container .pull_10 {left: -800px;}
.container .pull_11 {left: -880px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1;
}


body { font-size: 12px; line-height: 14px; color: #333; font-family: Helvetica, Arial, sans-serif; /*padding: 0px 9px 36px 9px;*/ text-transform: lowercase; }

a:link { color: inherit; text-decoration: none; }
a:visited { color: inherit; text-decoration: none; }
a:active { color: #333; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }

#header { min-height: 50px; }
	#header h1 { font-size: 32px; line-height: 36px; /*padding: 20px 4px 0px 4px;*/ padding-top: 20px; color: #CC2304; }
	#header .language { padding-top: 36px }

#content { margin-top: 20px; }
h2 { font-weight: bold; font-size: 18px; line-height: 21px; margin-top: -1px; margin-bottom: 8px; padding: 0px 4px 0px 4px; }

nav { color: #999; font-weight: bold; font-size: 18px; line-height: 21px; margin-top: -1px; margin-bottom: 8px; /*padding: 0px 4px 0px 4px;*/ }
	nav a:after { content: " /"; }
	nav a.active { color: #CC2304; }

.section { color: #666; }
	.section .title { color: #000; font-weight: bold; margin-bottom: 14px; }
	.section p.slash a:after { content: " /"; }
	.section .agenda { margin-bottom: 10px; }
	.section .agenda .agenda-title, .section .agenda .details { font-weight: bold; }
	.section .agenda .description { margin-bottom: 5px; }
	.section .about p { margin-bottom: 10px; }
	.agenda-past { margin-top: 14px; font-weight: bold; }

input[type="text"], input[type="email"], input[type="password"], input[type="search"], textarea { border: 1px solid #999; border-radius: 3px; font-family: inherit; font-size: 12px; color: #666; padding: 2px; margin: 0; }
textarea { height: 160px; }
.grid_4 input[type="text"], .grid_4 textarea { width: 228px; }
.grid_4 select { max-width: 232px; }

.grid_6 input[type="text"], .grid_6 input[type="password"], .grid_6 input[type="search"] { width: 350px; }
.grid_9 input[type="text"], .grid_9 input[type="password"], .grid_9 input[type="search"] { width: 530px; }

.form-header { margin-bottom: 16px; margin-left: 2px; margin-right: 2px; }

.field { margin-bottom: 16px; }
label { color: #333; display: block; font-weight: bold; margin: 0; padding: 2px 2px 4px 2px; }
label.no-block { color: #333; display: inline; font-weight: normal; margin: 0; padding: 0px; }

#error_explanation, .form-messages { font-size: 13px; line-height: 18px; padding: 8px 16px; margin-top: 12px; border-bottom-left-radius: 6px 6px; border-bottom-right-radius: 6px 6px; border-top-left-radius: 6px 6px; border-top-right-radius: 6px 6px; }
  #error_explanation h2, .form-messages h2 { color: #C00; margin: 0px 0px 0px 0px; font-weight: bold; }
  #error_explanation ul, .form-messages ul { list-style: disc inside; }
#error_explanation, .form-messages.error { color: #C00; background: #FFEEEE; }
.form-messages.success { color: #3C3; background: #DDFFDD; font-weight: bold; }

.form-devise { padding: 0 4px; }
	.form-devise h2 {margin-bottom: 20px;}
	.form-devise p { margin: 4px 0px; }
	.form-devise p input[type="submit"] { margin: 16px 0px; }

@media screen and (max-width: 960px){
    body {
      min-width: 320px;
      max-width: 320px;
      margin: 0 auto;
    }
    .container {
      width: 100%;
    }
    .section {
      margin: 0;
    }
    .container .section { margin-bottom: 10px; }
    .container .push_7 {
      left: 0;
    }
}
